body {
    background-image: url("https://fondosmil.com/fondo/51748.jpg");
    background-size: 1900px;
}

h1{
    text-align: center;
    font-family: Bahnschrift;
    color:darkslategrey;
    font-size: 115px;
    
}

h2{
    text-align: center;
    font-family: Bahnschrift;
    font-style: italic;
    color:darkslategrey;
    font-size: 20px;
    
}

.boton1{
    margin-left: 25%;
    margin-top: 11%;
    font-size: 30px;
    font-family: Bahnschrift;
    text-align: center;
    border-radius: 25px;
    background: #c3e9b8;
    padding: 20px;
    width: 200px;
    height: 150px;
    color:darkslategrey;
}
.boton1:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.boton2{
    margin-left: 29%;
    font-family: Bahnschrift;
    text-align: center;
    font-size: 30px;
    border-radius: 25px;
    background: #c3e9b8;
    padding: 20px;
    width: 200px;
    height: 150px;
    color:darkslategrey;
}
.boton2:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

footer{
    background-color:darkslategrey;
    margin: auto;
    text-align: center;
    margin-top: 210px;
}
a{
    color: whitesmoke;
    text-decoration: none;
    padding: 15px 32px;
    font-family: Bahnschrift;
    margin: auto;
    width: 500px;
    font-size:  20px;
    
 }
/*a:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}*/


